<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-12 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-5 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="AR" title="Akanksha" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Hola Amigo!!</p>
                        <h1>I am a <span class="txt_clr">Mern Stack Developer</span>, Mainframer</h1>
                        <a href="https://akanksha-raghav.github.io/" target=""><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            Created with ❤ by AR
        </p>
    </footer>
</body>

</html>